{# src\IIM\AdminBundle\Resources\views\Personne\list.html.twig #}
<!DOCTYPE html>
<html lang="en">
  <head>

  <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />

  </head>



  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Administration</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ path('admin_film_liste') }}">Liste des films</a></li>
            <li><a href="{{ path('admin_genre_liste') }}">Liste genres</a></li>
            <li class="active"><a href="{{ path('admin_realisateur_liste') }}">Liste réalisateurs</a></li>
            <li><a href="{{ path('page_films') }}">Retour au site</a></li>
          </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Liste des réalisateurs</h1>

            <div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      {% for realisateur in realisateurs %}
  <tr>
    <td><a href="{{ path('admin_realisateur_modif', {'id': realisateur.id}) }}">{{ realisateur.prenom }} {{ realisateur.nom }}</a>
        <a class="droite" href="{{ path('admin_realisateur_supprimer', {'id': realisateur.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
{% endfor %}
  </tr>
  </tbody>
</table>
</div>
    <center><a href="{{ path('admin_realisateur_ajout') }}" role="button" class="btn btn-success">Ajouter un Réalisateur</a></center>
        </div>
      </div>
    </div>

  </body>
</html>
